@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: #212121;
  }

  @responsive {
    .text-shadow {
      text-shadow: 0 3px 3px #3dd2cd79;
    }
  }
  
}

#root {
  display: grid;
  grid-template-columns: 16rem 1fr;
}