@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: #212121;
  }

  @responsive {
    .text-shadow {
      text-shadow: 0 3px 3px #3dd2cd79;
    }

    .black-text-shadow {
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.70);
    }

    .box-shadow {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }

    .border-bottom {
      border-bottom: 1rem solid #666666;
    }

    .logout-textshadow {
      text-shadow: 0 0 8px #3dd2cd79;
    }

    .box-shadow-cast {
      box-shadow: 0 0 4px #282828;
    }

    .box-blue-shadow {
      box-shadow: 0 0 1px #22d3ee;
    }
  }

  .grid-columns {
    display: grid;
    grid-template-columns: 55rem 20rem;
  }
  
  .black-box-shadow {
    box-shadow: 0 2px 4px #00000098;
  }

}

#root {
  display: grid;
  grid-template-columns: 16rem 1fr;
}